.controller.edit{
  background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/base.svgz) !important;
}

.edit .sticks {
  background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/sticks.svgz) !important;
}

.edit .stick {
  background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/dpad.svgz) !important;
}

.edit .bumper {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/bumper.svgz) !important;
}

.edit .trigger {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/triggers.svgz) !important;
}

.edit .touchpad.pressed {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/touchpad.svgz) !important;
}

.edit .back, .edit .start {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/start.svgz) !important;
}
